.nav {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  .logo {
    padding: 2rem 2rem 1rem 2rem;
  }
  .links {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 2rem 1rem 2rem;
    .nav-link {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: blue;
        font-size: larger;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}
