:root {
  --maxWidth: 1280px;
  --lightGrey: #eee;
  --medGrey: #353535;
  --darkGrey: #1c1c1c;
  --darkNavy: #020c1b;
  --lightNavy: #112240;
  --navy: #0a192f;
  --green: #64ffda;
  --blue: #57cbff;
  --fontSuperBig: 2.5rem;
  --fontBig: 1.5rem;
  --fontMedium: 1.2rem;
  --fontSmall: 1rem;
  --fontSuperSmall: 12px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: black;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.product-cards-wrapper {
  margin: 2.5rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
